img{
    position:relative;
    animation-name: animate1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

@keyframes animate1{
    from{
        left:0;
        top:0;
    }
    25%{
        left:400px;
        top:0;
    }
    50%{
        left:400px;
        top:400px;
    }
    75%{
        left:0;
        top:400px;
    }
    to{
        left:0;
        top:0;
    }

}